html,
body {
    background: rgb(44, 205, 226);
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(24, 24, 24);
    font-variant-caps: all-small-caps;
    font-size: 32px;
}

p1 {
    color: rgb(24, 24, 24);
    font-variant-caps: all-small-caps;
    font-size: 18px;
}