{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %} {% block content %}
<h1>Index</h1>
<h1>{{message.message}}</h1>
<p1>{{message.apiVersion}}</p1>
<p1>{{message.by}}</p1>
{% endblock %}
<!--
<html>
  <head>
    <title>Python REST API</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>{{message.message}}</h1>
    <p1>{{message.apiVersion}}</p>
    <p1>{{message.by}}</p>

    <script src="/static/scripts.js" charset="utf-8"></script>
  </body>
</html>
-->